@import "tailwindcss";

@theme {
  --color-bg: #ededed;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

@layer base{
body {
  
  }
}
